<!DOCTYPE html>
<html>
<head>
    <title>動態新增資料</title>
    <script>
        function addRow() {
            var table = document.getElementById("dataTable");
            var row = table.insertRow(-1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
			var cell3 = row.insertCell(2);
			var cell4 = row.insertCell(3);
			var cell5 = row.insertCell(4);
			var cell6 = row.insertCell(5);
			var cell7 = row.insertCell(6);
			var cell8 = row.insertCell(7);
            cell1.innerHTML = '<input type="text" name="name" required>';
			cell2.innerHTML = '<input type="text" name="patient_str_id" >';
            cell3.innerHTML = '<input type="number" name="age" required>';
			cell4.innerHTML = '<input type="text" name="gender" required>';
			cell5.innerHTML = '<select id="drinkingStatus" name="drinking"><option value="yes">有喝酒</option><option value="quit">有喝酒，已戒</option><option value="no">沒有喝酒</option></select>';
			cell6.innerHTML = '<input type="text" name="remarks" >';
			cell7.innerHTML = '<input type="date" name="biopsyDate" required>';
			cell8.innerHTML = '<input type="file" name="file" required>';

        }
		
    </script>
</head>
<body>
   <form action="/add_patient_result" method="post" enctype="multipart/form-data">
    <h1>新增病人資訊</h1>
    <table id="dataTable">
        <tr>
            <th>姓名</th>
			<th>病歷號</th>
            <th>年齡</th>
			<th>性別</th>
			<th>飲酒狀態</th>
			<th>備註</th>
			<th>日期</th>
			<th>上傳pdf</th>
			
        </tr>
        <tr>
            <td><input type="text" name="name" required></td>
			<td><input type="text" id="patient_str_id" name="patient_str_id" maxlength="6" minlength="6" required>
			
            <td><input type="number" id="age" name="age" min="1" max="100" step="1" required>
			<td><input type="text" name="gender" required></td>
			<td>
			  
				<select id="drinkingStatus" name="drinking">
					<option value="yes">有喝酒</option>
					<option value="quit">有喝酒，已戒</option>
					<option value="no">沒有喝酒</option>
				</select></td>
			<td>
			   <label for="remarks">請輸入您的備註：</label>
				<textarea id="remarks" name="remarks" rows="4" cols="50" placeholder="在此輸入備註...">
				</textarea></td>
			
			<td>	
				<label for="datePicker">請選擇日期：</label>
				<input type="date" id="datePicker" name="biopsyDate" required></td>
			<td>
				<input type="file" name="file" accept="application/pdf" required></td>
			
        </tr>
    </table>
    <button type="button" onclick="addRow()">新增一行</button>
    <br><br>
 
        <input type="submit" value="提交">
    </form>
</body>
</html>


      