<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Patient List</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>patient_id</th>
					<th>height</th>
                    <th>weight</th>
			
                </tr>
            </thead>
            <tbody>
                {% for patient in patient_extend_data %}
                    <tr>
                        <td>{{ patient.patient_id }}</td>
						<td>{{ patient.height}}</td>
                        <td>{{ patient.weight}}</td>
			
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
