<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
	    <form action="" method="post">
        <input type="submit" value="下載CSV" name="download_csv">
		</form>

        <h1 class="mt-4">Patient List</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>name</th>
					<th>gender</th>
                    <th>age</th>
					<th>drinking</th>
					<th>remarks</th>
					<th>biopsyDate</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                    <tr>
                        <td>{{ patient.name }}</td>
						<td>{{ patient.gender }}</td>
                        <td>{{ patient.age }}</td>
						<td>{{ patient.drinking }}</td>
						<td>{{ patient.remarks }}</td>
						<td>{{ patient.biopsyDate}}</td>
						<td>
                            <a href="{{ url_for('edit_patient', patient_id=patient.id) }}" class="btn btn-primary btn-sm">Edit</a>
                        </td>
						<td>
                            <a href="{{ url_for('show_patient_pdf', patient_id=patient.id) }}" class="btn btn-primary btn-sm">PDF</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
